<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    {% component_css_dependencies %}
</head>
<body>
<h1>Hello Django in Users App</h1>
<div style="display: flex; gap: 8px; max-width: 50%">
    {% for user in users %}
        {% component "card" user %}
    {% endfor %}
</div>
<h3>Click any icon</h3>
<div style="display: flex">
    {% for icon in icons %}
        {% component "icon" icon.name icon.img_url %}
    {% endfor %}
</div>
{% component_js_dependencies %}
</body>
</html>